// Global

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: $color-light;
  color: $color-dark;
  height: 100%;
  margin: 0;
  font-family: $font-text;
  line-height: 1.5;
}

a {
  color: $color-light;
  text-decoration: none;
}
